<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container-row">
    <div class="content">
        <div class="container">
            <h2 class="title is-4"><strong>Submit Post</strong></h2>
            <br>
        </div>
        <div class="columns is-mobile">
            <a class="button is-primary is-medium" href="#" th:href="@{/gameMedia/dashboard}">Back to Dashboard</a>
            <form autocomplete="off" action="#" th:action="@{/gameMedia/submit-post}"
                  th:object="${form}" method="post" class="form-horizontal"
                  role="form">
                <fieldset th:each="post, itemStat : *{posts}">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Author</label>
                            </div>

                            <div class="field-body">
                                <div class="field">
                                    <p class="control is-expanded">
                                        <input class="input" type="text" placeholder="Name" th:field="*{posts[__${itemStat.index}__].author}">
                                    </p>
                                </div>
                                <div class="field">
                                    <p class="control is-expanded">
                                        <input class="input is-success" type="text" placeholder="Date (XX-XX-XXXX)"
                                               value="07-03-2021" th:field="*{posts[__${itemStat.index}__].date}">
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label"></div>
                            <div class="field-body">
                                <div class="field is-expanded">
                                    <div class="field has-addons">
                                        <p class="control">
                                            <a class="button is-static">
                                                Game
                                            </a>
                                        </p>
                                        <p class="control is-expanded">
                                            <input type="text"
                                                   th:field="*{posts[__${itemStat.index}__].title}"
                                                   class="input"
                                                   id="date"
                                                   placeholder="Name of the game you are posting about">
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label">
                                <label class="label">Visibility</label>
                            </div>
                            <div class="field-body">
                                <div class="field is-narrow">
                                    <div class="control">
                                        <label class="radio">
                                            <input type="radio" value="true"
                                                   th:checked="*{posts[__${itemStat.index}__].isPublicPost() == true}">
                                            Public
                                        </label>
                                        <label class="radio">
                                            <input type="radio" value="false"
                                                   th:checked="*{posts[__${itemStat.index}__].isPublicPost() == false}">
                                            Private
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Subject</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <input class="input is-danger" type="text"
                                               placeholder="Subject eg. Epic DS3 Achievement"
                                               th:field="*{posts[__${itemStat.index}__].subject}">
                                    </div>
                                    <p class="help is-danger">
                                        This field is required
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Question</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <textarea class="textarea" placeholder="Post content"
                                                  th:field="*{posts[__${itemStat.index}__].content}"
                                        ></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label">
                                <!-- Left empty for spacing -->
                            </div>
                            <div class="field-body">
                                <div class="field is-grouped">
                                    <div class="control">
                                        <button type="submit" class="button is-primary">Submit</button>
                                    </div>
                                    <div class="control">
                                        <button type="reset" class="button is-danger">Reset</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>
</html>