<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head :: head">
    <link rel="stylesheet" type="text/css" href="resources/style.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<section class="hero is-fullheight ">
    <div class="hero-body has-text-centered has-background hero-background is-transparent" src="https://www.c4.wallpaperflare.com/wallpaper/96/92/869/game-games-2014-best-wallpaper-preview.jpg" alt="Image" >
        <div class="container">

            <Button class="button is-large is-link is-rounded" >GameMedia</Button>
               </div>
    </div>
</section>

</body>
</html>